<!DOCTYPE html>
<html>
  <head>
    <title>Home - Yinxiupei</title>
    <link href='/stylesheets/index.css'  rel='stylesheet'/>
    <link href="/stylesheets/common.css" rel="stylesheet">
  </head>
  <body>
  <%- include("./common/header.ejs") %>
    <article>
      <div class="content">
      <%- include("./common/aside.ejs") %>
        <section>
          <% for (var i = 0; i < list.length; i++) { %>  
          <div class="article">
            <a href="/article?id=<%=list[i].article_id %>" class="title"><%=list[i].title  %></a>
            <div class="introduce"><%=(list[i].content.length > 200 ? list[i].content.substring(0, 200) + '...' : list[i].content) %></div>
            <div class="footer"><%=list[i].created_time  %></div>
          </div>
          <% } %>  
          <div class="more">
            <span class="J_btn J_first" data-index="1">首页</span>
            <span class="J_btn J_pre" data-index="">上一页</span>
            <span class="J_btn J_current" data-index="1">1</span>
            <span class="J_btn J_next" data-index="">下一页</span>
            <span class="J_btn J_last" data-index="">末页</span>
          </div>
        </section>
      </div>
    </article>

   <%- include("./common/footer.ejs") %>
  </body>
  <script src="/javascripts/lib/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('.J_btn').on('click', function () {
          var index = $(this).attr('data-index')
          $.ajax({
            url: '/home/list',
            type: 'POST',
            data: {
              page: index,
            },
            success: (result) => {
              console.log(result)
            },
            error: (error) => {
              console.log(error)
            }
          })
      })
    })
  </script>
</html>
