<!DOCTYPE html>
<html>
  <head>
    <title>Home - Yinxiupei</title>
    <link href='/stylesheets/index.css'  rel='stylesheet'/>
    <link href="/stylesheets/common.css" rel="stylesheet">
  </head>
  <body>
  <%- include("./common/header.ejs") %>
    <article>
      <div class="content">
      <%- include("./common/aside.ejs") %>
        <section>
          <% for (var i = 0; i < list.length; i++) { %>  
          <div class="article">
            <a href="/article?id=<%=list[i].article_id %>" class="title"><%=list[i].title  %></a>
            <div class="introduce"><%=(list[i].content.length > 200 ? list[i].content.substring(0, 200) + '...' : list[i].content) %></div>
            <div class="footer"><%=list[i].created_time  %></div>
          </div>
          <% } %>  
          <div class="more">
            加载更多
          </div>
        </section>
      </div>
    </article>

   <%- include("./common/footer.ejs") %>
  </body>
</html>
