<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/article.css" rel="stylesheet">
        <link href="/stylesheets/common.css" rel="stylesheet">
        <link rel="stylesheet" type="" href="/stylesheets/components/style.css">
        <link rel="stylesheet" type="" href="/stylesheets/components/editormd.preview.css">
    </head>
    <body>
        <%- include("./../common/header.ejs") %>
        <article>
            <div class="content">
                <section id="markdown-raw" style="display: none"><%= article.content %></section>
                <header>
                    <h2><%= article.title %></h2>
                </header>
                <section>
                    <div id="markdown-content"></div>
                    <p class="time">
                        <span class="item J_comment" data-comment-id="0">评论</span>
                        <span><%= article.created_time %></span>
                    </p>
                </section>
                <div class="comment J_container" id="J_container">
                </div>
            </div>  
        </article>
        <%- include("./../common/dialog.ejs")%>
        <script src="/javascripts/lib/jquery.min.js"></script>
        <script src="/javascripts/lib/marked.min.js"></script>
        <script src="/javascripts/lib/prettify.min.js"></script>

        <script src="/javascripts/lib/raphael.min.js"></script>
        <script src="/javascripts/lib/underscore.min.js"></script>
        <script src="/javascripts/lib/sequence-diagram.min.js"></script>
        <script src="/javascripts/lib/flowchart.min.js"></script>
        <script src="/javascripts/lib/jquery.flowchart.min.js"></script>
        <script src="/javascripts/lib/editormd.js"></script>
        <script src="/javascripts/lib/ejs.min.js"></script>

        <script src="/javascripts/common/query.js"></script>
        <script type="text/javascript">
        $(function () {
            var markdown = $('#markdown-raw').text();
            $('#markdown-raw').remove();

            var testEditormdView = editormd.markdownToHTML("markdown-content", {
                markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                htmlDecode      : "style,script,iframe",  // you can filter tags decode
                //toc             : false,
                tocm            : true,    // Using [TOCM]
                //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                //gfm             : false,
                //tocDropdown     : true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji           : true,
                taskList        : true,
                tex             : true,  // 默认不解析
                flowChart       : true,  // 默认不解析
                sequenceDiagram : true,  // 默认不解析
            });
            // 判断是否加载评论
          if (window.screen.availHeight >= document.body.clientHeight) {
            getComment()
          } else {
//            $(window).scroll(function () {
//              let a = $('.J_container').offset().top
////            let a = document.getElementById('J_container').offsetTop;
//              if (a >= $(window).scrollTop() && a < ($(window).scrollTop()+$(window).height())) {
//                console.log("div在可视范围");
//              } else {
//                console.log('不在可视范围')
//              }
//            });
            getComment()
          }
          // 变量定义
            let id = getParam('id')
            let commentNumber = 0
            let commentname = ''

          // 隐藏弹框
            $('.J_onCancle').on('click', function () {
              $('.J_commentDialg').css('display', 'none')
            })
          // 评论用户的评论
          $('body').delegate('.J_comment', 'click', function () {
            $('.J_commentDialg').css('display', 'block');
            commentNumber = $(this).attr('data-comment-id');
            commentname = $(this).parent().find('.J_username').html()
          })
          // 提交评论
          $('.J_onConfirm').on('click', function () {
              if (commentNumber === 0) {
                postComment('')
              } else {
                postComment('回复' + commentname + '：')
              }
            $('.J_commentDialg').css('display', 'none')
          })
          // 提交评论请求
          function postComment (reply) {
            $.ajax({
              url: '/article/comment/create',
              type: 'POST',
              data: {
                username: $('.J_title').val(),
                content: reply + $('.J_content').val(),
                article_id: id
              },
              success: (data) => {
                alert('评论成功')
                window.location.href = '/article?id=' + id
              },
              error: (error) => {
                alert(data.msg)
              }
            })
          }
          // 获取评论
          function getComment() {
            let id = getParam('id')
            $.ajax({
              url: '/article/comment/read',
              type: 'POST',
              data: {
                id: id
              },
              success: (data) => {
                bindHtml(data);
              },
              error: (error) => {
                console.log(error)
              }
            })
          }
          // 节点绑定
          function bindHtml(data) {
              ejs.open = '{{';
              ejs.close = '}}';
            var str = $('#template').html()
            var result = ejs.render(str, {list: data.list})
            $('#J_container').html(result)
          }
        })
    </script>
    <script charset="UTF-8" type="text/template" id="template">
        <h2>评论专区&nbsp;&nbsp;共{{= list.length }}条评论</h2>
        {{ if (list.length > 0) { }}
        {{ for (var i = 0; i < list.length; i ++) { }}
        <div class="comment-item">
            <div class="comment-content">
                {{= list[i].content }}
            </div>
            <p class=info>
                <span class="username J_username">{{= list[i].username }}</span>
                <span class="item J_comment" data-comment-id="{{= list[i].comment_id }}">评论</span>
                <span class="time">{{= list[i].created_time }}</span>
            </p>
        </div>
        {{ } }}
        {{ } else { }}
        <div style="text-align: center; padding: 8px">暂无评论</div>
        {{ } }}
    </script>
    </body>
</html>